:root {
  --red-color: #c40909;
  --green-color: #2fab1d;
  --blue-color: #458cd7;
  --orange-color: #f5a74f;
  --grey-color: #f1f1f1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #0a7aca
}

h2 {
  margin-bottom: 50px;
  letter-spacing: 2px;
  text-align: center;
  font-size: 33px;
  font-weight: bold;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  width: 590px;
  min-height: 150px;
  padding: 30px 30px 50px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

.container * {
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: 500;
}

.skills {
  margin-bottom: 10px;
}

.details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.bar {
  position: relative;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  background-color: var(--grey-color);
  border-color: var(--grey-color);
}

.bar div {
  position: relative;
  width: 0;
  height: 11px;
  border-radius: 10px;
}

.red div {
  background-color: var(--red-color);
}

.blue div {
  background-color: var(--blue-color);
}

.green div {
  background-color: var(--green-color);
}

.orange div {
  background-color: var(--orange-color);
}

.skills:not(:last-child) {
  margin-bottom: 30px;
}

#html-bar {
  animation: html-fill 2s forwards;
}

@keyframes html-fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    width: 90%;
  }
}

#css-bar {
  animation: css-fill 2s forwards;
}

@keyframes css-fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    width: 75%;
  }
}

#javascript-bar {
  animation: javascript-fill 2s forwards;
}

@keyframes javascript-fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    width: 72%;
  }
}

#jQuery-bar {
  animation: jQuery-fill 2s forwards;
}

@keyframes jQuery-fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    width: 58%;
  }
}
